{% extends "base.html" %}

{% block content %}

    <form method="post">
      <label>
        <div class="post-title">Date</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <br>
      <div class="post-title space-below">Bills</div>
      <label>
        <textarea class="content" name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <br>
      <input type="submit">
    </form>
    <a href="/" class="goback-button">
        Go Back
    </a>
{% endblock %}
