  <div class="post">
    <div class="post-heading">
      <a href="/{{post.key().id()}}"" class="post-title">
        {{post.subject}}
      </a>

      <div class="post-date">
        written by {{post.username}} - {{post.created.strftime("%b %d, %Y")}}
      {% if username == "wonjunee" %}
      <a href="/{{post.key().id()}}/edit" class="post-edit">
        Edit
      </a>
      <a href="/{{post.key().id()}}/delete" class="post-edit">
        Delete
      </a>
      {% endif %}
      </div>
    </div>

    {{post.render() | safe}}
 
    <br>
    <div class="comment-heading">
      {{post.comments.count()}} {% if post.comments.count() > 1 %}Comments{% else %}Comment{% 
      endif %}
    </div>
    <div class="comments-contents">
      {% for comment in post.comments %}
        {{comment.render() | safe}} - <b>{{comment.username}}</b> <br>
        {{comment.created.strftime("%b %d, %Y")}}
        <a href="/{{post.key().id()}}/comment/{{comment.key().id()}}/edit" class="comment-edit">
          Edit
        </a>
        <a href="/{{post.key().id()}}/comment/{{comment.key().id()}}/delete" class="comment-edit">
          Delete
        </a><br>
        <br>
      {% endfor %}
    </div>

    <a href="/{{post.key().id()}}/comment" class="post-edit">
      Add a comment
    </a>
    

    </div>

