{% extends "base.html" %}

{% block content %}
  <h1 class="summary-title" style="margin-top:0">Summary</h1>
  
  <div class="summary-content">
    <table class="summary" align="center">
      <tr>
        <td class="bills">Date</td>
        {% for i in bills %}
          <td class="bills">
            {{i}}
          </td>
        {% endfor %}
    	</tr>
      {% for post in posts %}
        <tr>
          <td class="date">
            <a href="/{{post.key().id()}}" class="summary-date">
              {{post.subject}}
            </a>
          </td>
          {% for i in post._summary_post() %}
            {{i | safe}}
          {% endfor %}
        </tr>
      {% endfor %}
      

    </table>
{% endblock %}
